@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #eaf4f8;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: fixed;
    transition: all 0.5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar.open-sidebar {
    min-width: 250px;
}

#sidebar_content {
    padding: 12px;
}

#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 2%;
    width: 90px; 
    height: 70px; 
    border: none;
    border-radius: 0;
    overflow: hidden;
    object-fit: contain;
    transition: width 0.5s, height 0.5s;
}

#sidebar.open-sidebar #logo {
    width: 200px; 
    height: 100px; 
    margin-left: 9px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #0607e9;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #0607e9;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform 0.3s ease;
}

#sidebar.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.6s;
    height: 0;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

main {
  padding: 20px;
  position: relative;
  z-index: 1;
  transition: margin-left 0.5s;
  margin-left: -10px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: calc(75% - 70px);
}

main.shifted {
    margin-left: 50px;
}

.button-container {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    display: flex;
    gap: 10px; 
    z-index: 3; 
}

.button-container button {
    border: none;
    background-color: #0607e9;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container button:hover {
    background-color: #0b01ccf1; /* Cor ao passar o mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 800px; 
    display: flex;
    height: auto;
    margin-left: 350px;
}

.input-container {
    margin-left: -35px; /* Ajuste conforme necessário */
}


.add-input-btn {
    border: none;
    background-color: #0607e9;
    color: white;
    padding: 0.5rem 0.5rem; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 26px;
    line-height: 1.1;
    margin-right: 9px;
}

.add-input-btn:hover {
    background-color: #0b01ccf1; 
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #0607e9;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.login-button button:hover {
    background-color: #0d069ef1;
}

#opcoes {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
    z-index: 4; 
}

#opcoes.show {
    display: flex; 
    flex-direction: column; 
}

.opcao {
    display: flex;
    align-items: center; 
    margin: 10px 0;
    cursor: pointer; 
    transition: background-color 0.3s; 
    padding: 10px;
    border-radius: 10px;
}

.opcao:hover {
    background-color: rgba(6, 7, 233, 0.1); 
}

.opcao input[type="radio"] {
    margin-right: 8px; 
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    background-color: #0607e9;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 80px; 
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 30px; 
    margin-left: 60px;
}

.inputItem {
    display: flex;
    flex-direction: row;
}
#addItem {
    padding: 10px;
    height: 10px;
    margin-top: 25px;
    
}
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    transition: border 0.3s, background-color 0.3s;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 2px solid #0607e9;
    outline-offset: 2px;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.input-box textarea {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 50%; 
    resize: vertical; 
    transition: border 0.3s, background-color 0.3s;
}

.input-box textarea:hover {
    background-color: #eeeeee75;
}

.input-box textarea:focus-visible {
    outline: 2px solid #0607e9;
    outline-offset: 2px;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    width: 100%;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #0607e9;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.continue-button button:hover {
    background-color: #0607e9;
}

.login-button-fim {
    display: flex;
    margin-top: 50px;
    margin-left: 630px; 
    gap: 25px;
}

.login-button-fim button {
    border: none;
    background-color: #0607e9;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.login-button-fim button:hover {
    background-color: #0900b1f1; 
}

.hidden {
    display: none;
}

.show {
    display: flex; 
}
/* Código CSS existente... */

.input-group {
    display: flex;

    gap: 20px; /* Espaçamento entre os itens */
    margin-bottom: 20px; /* Espaçamento entre grupos de inputs */
}

.input-box {
    flex: 1; /* Cada input-box ocupará espaço igual */
    min-width: 0; /* Permitir que os inputs encolham */
}

/* Resto do CSS existente... */

.flex-column {
    display: flex;
    flex-direction: column;

}

.cont {
    display: flex;
}
.cont-pai {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cont-pai > button {
    border: none;
    background-color: #0607e9;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    width: 100px;
    margin-left: 87%;
}


@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}